name: Python Packages Test

on:
  push:
    branches: [ pre/v* ]

jobs:
  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools setuptools-rust

      - name: Make .devXX version
        run: python ./python/latest_dev_version.py

      - name: Build
        working-directory: ./python
        run: bash build-sdist.sh

      - uses: actions/upload-artifact@v2
        with:
          path: python/dist/*

  build-linux-wheels:
    name: Build Linux Python Wheels (+PGO)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Download dictionary
        run: bash fetch_dictionary.sh

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Make .devXX version
        run: python ./python/latest_dev_version.py

      - uses: eiennohito/gha-manylinux-build@master
        with:
          script: python/build-wheels-manylinux-pgo.sh

      - uses: actions/upload-artifact@v2
        with:
          path: python/dist/*manylinux*

  build-non-linux-wheels:
    name: Build wheels on ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest]
        python-version: [ "3.6", "3.7", "3.8", "3.9" , "3.10" ]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Make .devXX version
        run: python ./python/latest_dev_version.py

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools setuptools_rust wheel
      - name: build wheel
        run: |
          cd python && python setup.py bdist_wheel
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.12

      - uses: actions/upload-artifact@v2
        with:
          path: python/dist/*.whl

  upload-to-testpypi: # run only if all have succeeded
    needs: [ build-sdist, build-non-linux-wheels, build-linux-wheels ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact # default artifact name
          path: dist/

      - name: List files to upload
        run: ls -R dist/

      - name: Publish distribution to Test PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true

  install-and-test:
    needs: [ upload-to-testpypi ]
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
        python-version: [ "3.6", "3.7", "3.8", "3.9" , "3.10" ]
      fail-fast: false
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install our module from TestPyPi
        run: python -m pip install --pre -U -i https://test.pypi.org/simple/ sudachipy

      - name: Install dependencies
        run: python -m pip install sudachidict_core tokenizers

      - name: Run test
        working-directory: ./python
        run: python -m unittest

      - name: Check that binary works (C mode)
        run: |
          sudachipy .github/data/input.txt -o result-c.txt
          git diff --color=always --no-index -- result-c.txt .github/data/expected-c.txt

      - name: Check that binary works (A mode)
        run: |
          sudachipy .github/data/input.txt -m A -o result-a.txt
          git diff --color=always --no-index -- result-a.txt .github/data/expected-a.txt
